@model _1WelcomeApp.Models.Customer
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main aria-labelledby="title">
    <h2>Customer Infomation</h2>
    <h3>Name: @Model.Name, Address: @Model.Address</h3>
</main>

