
@model _1WelcomeApp.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main aria-labelledby="title">

    @if (Model.Customers.Count <= 0)
    {
        <h2 id="title">There is no any customers</h2>
    }
    else
    {
        <table class="table	table­‐bordered table­‐hover">
            <thead>
                <tr>
                    <th>Customer</th>
                </tr>
            </thead>

            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Edit", "Customer", new { id = customer.Id })">@customer.Name</a>
                        @*@Html.ActionLink(@customer.Name, "Edit", "Customer", new { id = customer.Id }, null)*@
                    </td>
                </tr>
            }
        </table>
    }
</main>

