@model _1WelcomeApp.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main aria-labelledby="title">
    <div>
        <a href="@Url.Action("AddOrUpdate", "Customer", new { id = 0 })" class="btn btn-primary">Add New Customer</a>
    </div>

    @if (Model.Customers.Count <= 0)
    {
        <h2 id="title">There is no any customers</h2>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Membership Type</th>
                </tr>
            </thead>

            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("AddOrUpdate", "Customer", new { id = customer.Id })">@customer.Name</a>
                    </td>

                    @if (customer.MembershipType != null)
                    {
                       <td>@customer.MembershipType.Name</td>
                    }
                    else
                    {
                        <td>Unknown</td>
                    }
                </tr>
            }
        </table>
    }
</main>
