@model dynamic

@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" type="text" class="form-group">
        </div>
    </div>

    <div class="form-group">
        <label>Movies</label>
        <div class="tt-container">
            <input id="movie" type="text" class="form-group">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="moviesList" class="form-group">
            </ul>
        </div>
    </div>
    

    <br />

    <button class="btn btn-primary">Submit</button>
</form>


@section scripts
{
    <script>
        $(document).ready(function () {

            var viemModel = {
                movieIds: []
            };

            var customersList = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '../api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customersList
            }).on("typeahead:select", function (event, customer) {
                viemModel.customerId = customer.id;
            });


            var moviesList = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '../api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'movie',
                display: 'name',
                source: moviesList
            })
                .on("typeahead:select", function (event, movie) {
                    $('#moviesList').append("<li class='list-group-item'>" + movie.name + "</li>");

                    $('#moviesList').typeahead("val", "");

                    viemModel.movieIds.push(movie.id);
                });

            $('#newRental').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '../api/newRentals',
                    method: 'POST',
                    data: viemModel
                })
                    .done(function () {
                        toastr.success('Rental created successfully');
                    })
                    .fail(function () {
                        toastr.error('Failed to create rental');
                    });
            });

        })
    </script>
}
