<appSettings>
	<add key="MailServer" value="dev-smtp.hoang.com"/>
	<add key="FacebookAppId" value="1224019819087400"/>
	<add key="FacebookAppSecret" value="a1fa1b1586d53014f330c53b75208a60" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
