<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-1WelcomeApp-20250305024942.mdf;Initial Catalog=aspnet-1WelcomeApp-20250305024942;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
